/* ==== Reset ==== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-tox;
}

/* ==== Header ==== */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
}

/* ==== Logo ==== */
.logo {
    font-size: 28px;
}

/* ==== Logo ==== */

.logo {
    font-size: 28px;
}

/* ==== Navigation ==== */

nav {
    display: flex;
    gap: 30px;
}

nav a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}

nav a:hover {
    text-decoration: underline;
}

/* Hero Section */

.hero {
    text-align: center;
    padding: 80px 20px;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 30px;
}

.hero button {
    padding: 12px 24px;
    cursor: pointer;
}

/* Places Section */

.places {
    padding: 50px 20px;
}

.places h2{
    text-align: center;
    margin-bottom: 30px;
}

.place-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.place-card {
    width: 220px;
    border: 2px solid black;
    padding: 15px;
    text-align: center;
}

.place-card img {
    width: 100px;
    height: 140px;
    object-fit: cover;
    margin-bottom: 10px;
}